<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:serv="http://code.devefx.org/schema/serv"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://code.devefx.org/schema/serv
        http://code.devefx.org/schema/serv/serv.xsd">

	<serv:registry id="registry">
		<serv:handler class="org.devefx.handler.LoginHandler"/>
		<serv:handler class="org.devefx.handler.MoveHandler"/>
	</serv:registry>
	
	<serv:tcp name="tcp-server" port="6666" registry="registry"/>
    <serv:udp name="udp-server" port="7777" registry="registry"/>
	
</beans>